
<h1><%= t('.sign_up') %></h1>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name),
             html: { role: "form", class: "cc_form" }, id: 'order-details') do |f| %>
  <%= bootstrap_devise_error_messages! %>

  <div class="form-group">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, autocomplete: 'email', class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :password %>
    <%= f.password_field :password, autocomplete: 'current-password', class: 'form-control' %>
    <% if @minimum_password_length %>
      <small class="form-text text-muted"><%= t('devise.shared.minimum_password_length', count: @minimum_password_length) %></small>
    <% end %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, autocomplete: 'current-password', class: 'form-control' %>
  </div>

  <%= form_tag charges_path do %>
    <article>
      <% if flash[:error].present? %>
        <div id="error_explanation">
          <p><%= flash[:error] %></p>
        </div>
      <% end %>
      <label class="amount">
        <span>Amount: $10.00</span>
      </label>
    </article>

    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
            data-description="Monthly subscription"
            data-amount="1000"
            data-locale="auto"></script>
  <% end %>

  <!--<div class="row">
    <div class="form-group col-md-6">
      <div id="<%#= :card %>"></div>
      <div id="card-errors"></div>
    </div>
  </div>-->

<!--  <div class="form-group">
    <%#= f.submit t('.sign_up'), class: 'btn btn-primary', id: 'submit-stripe' %>
  </div>-->
<% end %>

<!--<script type="text/javascript">
    let stripe = Stripe("<%= ENV['stripe_publishable_key'] %>");
    let elements = stripe.elements();

    let card = elements.create('card', {
        'style': {
            'base': {
                'fontFamily': 'Arial, sans-serif',
                'fontSize': '18px',
                'color': '#C1C7CD',
            },
            'invalid': {
                'color': 'red',
            },
        }
    });

    card.mount("#<%= :card %>");

    /*let form = document.getElementById('order-details');
    $(document).on('submit', form, function(event) {
        $('#submit-stripe').prop('disabled', true);
        event.preventDefault();
        stripe.createToken(card).then(function(result) {
            if (result.error) {
                // Inform that there was an error.
                var errorElement = document.getElementById('card-errors');
                errorElement.textContent = result.error.message;
            } else {
                // Now we submit the form. We also add a hidden input storing
                // the token. So our back-end can consume it.
                var $form = $(".cc_form");
                // Add a hidden input orders[token]
                $form.append($('<input type="hidden" name="orders[token]"/>').val(result.token.id));
                // Set order type
                $form.submit();
            }
        });
        return false;
    });*/
</script>-->

<%= render 'devise/shared/links' %>